@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root{
  --Dark-blue: #22222b;
  --Vintage-blue: #282d37;
  --ul-li-blue: #7FB8CB;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}
body{
  width: 100%;
  height: 100vh;
  background: #fff;
  font-family: 'Inter', sans-serif;
}
